<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agenticdb.mapper.MockTestMapper">

    <select id="getUsersByCondition" resultType="map">
        SELECT id, username, role_code, status, created_at
        FROM mock_test_users
        <where>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="roleCode != null">
                AND role_code = #{roleCode}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                <![CDATA[ AND created_at >= #{startTime} ]]>
            </if>
        </where>
    </select>

</mapper>